.header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__title {
  text-align: center;
}

.header__avatar {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--primary-background-color);
  border-radius: 100px;
}

.header__avatar__icon {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.header__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: calc(-1 * var(--menu-item-height));
  right: 0;
  z-index: 2;
}

.header__menu__button {
  width: 150px;
  height: var(--menu-item-height);
  background-color: var(--color-white);
  border-radius: 0;
  transition: background-color var(--primary-duration);
}

.header__menu__button:hover {
  background-color: var(--secondary-background-color);
}
