.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login__disabled {
  display: none;
}

.login__form {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.login__input {
  height: 40px;
  width: 80%;
}

.login__button {
  width: 50%;
}
