.main {
  width: 100%;
}

.todos {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}

.todo__button {
  padding: 5px 10px;
  color: var(--color-white);
  border-radius: var(--primary-border-radius);
}

.todo__button--save {
  display: none;
  background-color: var(--color-green);
}

.todo__button--remove {
  background-color: var(--color-red);
}

.todo .todo__value--edit {
  color: var(--color-white);
  background-color: var(--color-green);
}

.todo__value {
  width: 100%;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
