.avatar__item {
    min-width: 160px;
    height: var(--avatar-item-height);
}

.avatar__item__btn {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--primary-background-color);
}
