* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  padding: 5px 10px;
  border: none;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: opacity var(--primary-duration);
}

.button:hover {
  opacity: 0.7;
}

input[type='checkbox'] {
  cursor: pointer;
}

body,
html {
  height: 100%;
  width: 100%;
}

.form {
  width: 100%;
  display: flex;
  gap: 10px;
}

.input {
  width: 100%;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}

.button {
  padding: 10px 20px;
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
}

.select {
  height: 40px;
  padding: 10px;
  border: none;
  outline: none;
}
