@import url('./normalise.css');

@import url('./blocks/header.css');
@import url('./blocks/main.css');
@import url('blocks/auth.css');

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  --primary-background-color: #d6cfc7;
  --secondary-background-color: lightgray;
  --primary-color: black;
  --color-red: red;
  --color-white: white;
  --color-green: darkolivegreen;
  --color-blue: blue;

  --primary-duration: 0.3s;
  --primary-border-radius: 10px;
  --menu-item-height: 40px;

  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

#app {
  width: 60%;
  min-height: 100%;
  margin: 0 auto;
  padding: 15px;
  background-color: #d9dddc;
  border-radius: var(--primary-border-radius);
  position: relative;
}

.disabled {
  display: none;
}

.enabled {
  display: block;
}

.checked {
  text-decoration: line-through;
}
