.add_todo {
  width: 100%;
  font-size: 18px;
}

.add_todo__form {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--primary-gap);
}

.add_todo__form__container {
  width: 100%;
  height: 45px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-radius: var(--primary-border-radius);
}

.add_todo__form__btn {
  width: 30px;
  height: 30px;
}

.add_todo__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: inherit;
  background-color: transparent;
}

.add_todo__input::placeholder {
  letter-spacing: 1.5px;
}

.add_todo__btn {
  padding: 0 20px;
  font-size: inherit;
  font-weight: 700;
  background-color: var(--green-color);
  border-radius: var(--primary-border-radius);
}
