.avatar {
    --avatar-item-height: 40px;
}

.avatar__btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white-color);
    border-radius: 100px;
    overflow: hidden;
}

.avatar__items {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: calc(-1 * var(--avatar-item-height));
}